/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px red solid; */
}

.container{
    background-color: #d0d5da;
    width: 970px;
    height: 2500px;
}

h1{
    margin-left: auto;
    margin-right: auto;
}

p{
    margin-left: auto;
    margin-right: auto;
}

#other{
    text-align: center;
    margin: 10px 0px;
    display: inline-block;
    vertical-align: top;
}

#clicktarget {
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
}

#hidetarget {
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
}

#showtarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
}

#toggletarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
}

#slidedowntarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
    margin-bottom: 120px;
}

#slideuptarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
    margin-bottom: 120px;
}

#slidetoggletarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
    margin-bottom: 120px;
}

#fadeintarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
    margin-bottom: 120px;
}

#fadeouttarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
    margin-bottom: 120px;
}

#addclasstarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
}

.selected {
    color: red;
}

.highlight {
    background: yellow;
}

#beforetarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
}

#aftertarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
}

#appendtarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
}

#htmltarget{
    display: inline-block;
    margin: 45px 80px 20px 20px;
    box-shadow: 2px 2px black;
}

#attrtarget{ /*NO WORK */
    display: inline-block;
    margin: 45px 80px 30px 20px;
    box-shadow: 2px 2px black;
}

#valtarget{
    display: inline-block;
    margin: 45px 80px 30px 20px;
    box-shadow: 2px 2px black;
}

#texttarget{
    display: inline-block;
    margin: 45px 80px 30px 20px;
    box-shadow: 2px 2px black;
}